<div class="page-header">
  <h1>Request #<%= @request.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @request.user_id %></dd>

  <dt>Created date</dt>
  <dd><%= @request.created_date %></dd>

  <dt>Trip start date</dt>
  <dd><%= @request.trip_start_date %></dd>

  <dt>Trip end date</dt>
  <dd><%= @request.trip_end_date %></dd>

  <dt>Travel to city</dt>
  <dd><%= @request.travel_to_city %></dd>

  <dt>Travel to state</dt>
  <dd><%= @request.travel_to_state %></dd>

  <dt>Category</dt>
  <dd><%= @request.category %></dd>

  <dt>Request text</dt>
  <dd><%= @request.request_text %></dd>

</dl>
